.controls, .overlay-content, .image-component-video-overlay, .play-tag {
	display: none;
}

.upscale-extra-large, .upscale-large {
	:host{
		.video-container {
			padding-top: 640px;

			video {
				height: 640px;
			}
		}
	}
}
