.upscale-extra-large, .upscale-large{
    :host {
        .storybook-content {
            .overlay {
                .overlay-content {
                    .content-headline {
                        font-size: 2.2em;
                        padding: 40px 0 10px 50px;
                    }

                    .content-subheadline{
                        font-size: 1.4em;
                        padding: 0 0 50px 50px;
                    }

                    .storybook-product-content-sale-price {
                        font-size: 1.1em;
                        font-weight: 400;
                    }
                }
            }
        }
    }
}