@media (min-width: 900px) {
	.container-content {
		.grid {
			justify-content: space-around;
			margin: 45px;

			.article-card {
                @include flex-columns(3, 30px);
			}
		}
	}
}


@media (max-width: 600px) {
    .grid {
        .article-card {
            @include flex-columns(1, 6px);
        }
    }
}