
.article-card-component-column {
	margin: 30px;
}

.content {
	padding: 26px;
	background-color: #cfbcab;

	.headline {
		font-size: 2.4rem;
		padding-bottom: 10px;
	}

	.excerpt {
		padding-bottom: 30px;
		min-height: 75px;
	}

	.more-button {
		background-color: #bb714b;
		width: 50%;
	}
}

.img {
	background-size: auto !important;
}